.receitas__lista{
    display: grid;
    position: relative;
    justify-content: center;

    grid-template: 
    'bloco bloco bloco'
    'bloco bloco bloco'
    'bloco bloco bloco'
    ;
   
    flex-wrap: wrap;
    gap: 5em;
    padding: 1em;
}
@media screen and (max-width:900px) {
    .receitas__lista{
        grid-template: 
        'bloco'/1fr 1fr;
    }
}
@media screen and (max-width:600px) {
    .receitas__lista{
       grid-template: 'bloco';
        word-wrap: break-word;

    }
}

.receitas__bloco{
    background: white;
    max-width: 286px;
   
}
.receitas__descricao{
    padding: 16px 1em;
}
.receitas__titulo{
    font-family:roboto;
}
.receitas__texto{
    width: 200px;
}

.receitas--aberto{
    display: none;
}
.receitas__imagem{
    width: 100%;
    border-bottom: solid 5px;
}
.receitas__imagem--secundario{
    max-width: 286px;
}
.receitas__selecionado{
    text-align: center;
    display: none;
    transition: 1s;
}
.receitas--aberto:checked ~ .receitas__selecionado{
    position: fixed;
    display: block;
    right: 50%;
    top: 40%;
    transform: translate(50%,-50%);
   
    background: rgb(255, 230, 118);
    box-shadow: 0 0 25px 20px black;
    height: 600px;
    width: 350px;
    overflow-y: scroll;
    
   z-index: 20;
}

.receitas__selecionado label{
    position: relative;
    display: inline-block;
    top: 0;
    border-radius: 0 0 0 0;
    text-align: center;
    
}

.receitas__botao{
    background: var(--cor-vinho);
    color: var(--cor-branco);

    padding: 8px;
    border-radius: 5px;
}
.receitas--acao:hover{
    background: #5e0404;
}
.receitas__ingredientes{
    position: relative;
    right: 2%;
    text-align: left;
}
.receitas__ingredientes li{
    margin: 5px 0;
    border-bottom: black dotted 2px;
    list-style: decimal-leading-zero;
}
.receitas__ingredientes label{
    display: inline-block;
}
.receitas--fechar{
    width: 95%;
    display: block;
}